/*------------

1. HEADER
2. NAV
3. CONTENT
4. FOOTER

--------------*/
header, nav, main, li, footer {
  border: 2px solid black;
}

body {
  text-transform: capitalize;
}

h1 {
  font-size: 30px;
}

nav ul {
  list-style-type: none;
}
nav ul li {
  text-transform: capitalize;
}
nav ul li a {
  text-decoration: none;
}
nav ul li {
  display: inline-block;
  margin-left: -4px;
}
nav ul li a {
  display: block;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}
.content h2 {
  text-align: center;
}

footer {
  display: flex;
}
footer .contact {
  border-right: 2px solid black;
}
footer .contact a {
  text-decoration: none;
}
footer .info {
  margin-left: auto;
  border-left: 2px solid black;
}
