@mixin list {
    ul {
        list-style-type: none;

        li {
            text-transform: capitalize;
            
            a {
                text-decoration: none;
            }
        }
    }
}