@import '_var';

/*------------

1. HEADER
2. NAV
3. CONTENT
4. FOOTER

--------------*/

header, nav, main, li, footer {
    border: 2px solid black;
}

body {
    text-transform: capitalize;
}

// HEADER

h1 {
    font-size: 30px;
}

// NAV

nav {
    @include list;

   ul {

    li {
        display: inline-block;
        margin-left: -4px;

        a {
            display: block;
            padding: 10px;
        }
    }
   }
}

// CONTENT

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;

    h2 {
        text-align: center;
    }
}

// FOOTER

footer {
    display: flex;
    
    .contact {
        border-right: 2px solid black;

        a {
            text-decoration: none;
        }
    }

    .info {
        margin-left: auto;
        border-left: 2px solid black;
    }
}